@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.container {
  margin: 0px;
  width: 100%;
  overflow: hidden;
}

.nav {
  top: 0px;
  left: 0px;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  background-color: white;
  font-weight: bolder;
  justify-items: stretch;
  width: 100%;
  padding: 20px 50px 20px 20px;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
  font-size: 17px;
  font-family: "Roboto", sans-serif;
}

.nav_left {
  width: 45%;
  float: left;
}

.nav_right {
  display: inline-flex;
  position: sticky;
  width: 50%;
  flex-direction: row;
  justify-content: flex-end;
}
.option,
.profile {
  padding: 5px 20px;
  margin: 1px 20px;
  border-style: solid;
  color: #1d1717;
  border-width: 1px;
  border-color: blanchedalmond;
  background-color: blanchedalmond;
  border-radius: 50px;
  text-decoration: none;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 20%);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  height: 320px;
  border-radius: 7px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 10%);
  padding: 12px 16px;
  z-index: 1;
}
.profile-drop {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100% 250px;
}

.pro-img {
  display: inline-flex;
  width: 130px;
  height: 150px;
  margin: 5px 0px 0px 35px;
  border: 2px blueviolet;
  border-radius: 50%;
}

.pro-user {
  display: inline-flex;
  justify-content: center;
  margin: 20px 2px 0px 5px;
  width: 200px;
  height: 10%;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
}
.pro-about {
  display: inline-flex;
  justify-content: center;
  margin: 3px 0px 10px 5px;
  width: 200px;
  height: 10%;
  text-transform: capitalize;
}
.up_de {
  display: inline-flex;
  justify-content: space-evenly;
  margin: 5px 0px 0px;
  width: 200px;
  height: 10%;
}
button {
  border-radius: 20px;
  border: 1px solid #ece6e5;
  background-color: #ece6e5;
  color: #1d1717;
  font-size: 11px;
  font-weight: bold;
  padding: 10px 10px;

  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 10%);
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.dropdown:hover .dropdown-content {
  display: block;
}
a:hover {
  background-color: rgb(201, 237, 252);
}
.about {
  position: relative;
  margin: 130px 140px;
  display: flex;
  flex-direction: row;
  background-color: rgb(201, 237, 252);
  width: 1100px;
  height: 530px;
  font-size: 40px;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 30%);
}

.info {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  background-color: rgb(235, 235, 114);
  padding-top: 150px;
  width: 570px;
  height: 380px;
}
.info_Sec {
  width: 520px;
  height: 500px;
}

img {
  display: block;
  margin: 150px 150px 0px 160px;
  justify-content: center;
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 30%);
}
video {
  position: relative;
  margin: 100px 140px;
  width: 1100px;
  height: 530px;
  background-color: white;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 30%);
}
/* footer */

.footer {
  position: relative;
  background-color: black;
  color: white;
  margin: 100px 0px 0px 0px;
  width: 1350px;
  height: 450px;

  display: flex;
  flex-direction: column;
}
hr {
  display: block;
  margin-left: 5em;
  margin-right: 5em;
}
.footer_padding {
  padding: 50px;
  display: flex;
  flex-direction: row;
}

.foot_flexbox {
  margin: 50px;
  white-space: nowrap;
}
